nav{background-color: white;
    height: 60px;
    

}
.image1{
    padding-top: 10px;
    padding-left: 20px;
}
#a{
margin: 20px;
    
}
.main{
    margin-left: 950px;
    display: inline;
    margin-top: -50px;
}